[submodule "boost-cmake"]
	path = boost-cmake
	url = git@github.com:lwehmeier/boost-cmake.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "tools/pssh"]
	path = tools/pssh
	url = https://github.com/lilydjwg/pssh
